.link {
	--link-clr: var(--clr-neutral-400);
	display: inline-flex;
	gap: 1em;
	align-items: center;
	font-size: var(--fz-nav-link);
	text-decoration: none;
	line-height: 1;
	color: var(--link-clr);
	cursor: pointer;
	transition: color 0.35s ease;

	&:hover,
	&:focus {
		--link-clr: var(--clr-neutral-800);
	}
}
