@use '../abstracts/mixins' as mxn;

.primary-navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	padding-top: clamp(1.6rem, 3vw, 2.4rem);
	padding-inline: clamp(1.6rem, -2rem + 5vw, 4rem);
	margin-bottom: clamp(1.6rem, -2rem + 7.5vw, 6.4rem);
	z-index: 999;

	&__nav {
		display: flex;
		gap: 3.2rem;

		@include mxn.max-mq(medium) {
			--max-width: 24rem;
			display: none;
			position: absolute;
			flex-direction: column;
			top: 0;
			right: 0;
			height: 100vh;
			width: min(100%, var(--max-width));
			padding-top: 7.8rem;
			padding-inline: 2.4rem;
			background-color: var(--clr-neutral-100);
			box-shadow: 0 0 0 100vmax hsl(0 0% 0% / 0.5);

			&[data-expanded] {
				display: flex;
			}
		}
		@include mxn.mq(medium) {
			align-items: center;
			flex: 1;
			justify-content: space-between;
		}
	}

	&__nav-links {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		@include mxn.mq(medium) {
			flex-direction: row;
			align-items: center;
			gap: 4rem;
		}
	}

	&__nav-item {
		line-height: 1;
		@include mxn.mq(medium) {
			padding-block: 1rem;
		}
	}

	&__toggle {
		@include mxn.mq(medium) {
			display: none;
		}
	}
}
